.App {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar {
  background-color: #ff3838 !important;
}

body {
  background-color: transparent !important;
}
